.room {
  --back-left: 25vw;
  --back-top: 25vh;
  --back-width: 50vw;
  --back-height: 50vh;
  
  position: absolute;
  inset: 0;
  perspective: 60vw;
  perspective-origin: var(--px, 50%) 50%;
  transform-style: preserve-3d;

}

.wall{
  position: absolute;
  border-radius: 0;
  border-color: var(--accent);
}

.wall-center {
  left: var(--back-left);
  top: var(--back-top);
  width: var(--back-width);
  height: var(--back-height);
  background: color-mix(in srgb, var(--room) 95%, black);
}

.wall-left, .wall-right{
  top: var(--back-top);
  width: calc(var(--back-width)/1.7);
  height: var(--back-height);
  background: var(--room);
}

.wall-left {
  left: var(--back-left);
  transform-origin: left center;
  transform: rotateY(-90deg);
}

.wall-right {
  left: calc(var(--back-left) + var(--back-width));
  transform-origin: left center;
  transform: rotateY(-90deg);
}

.wall-floor, .wall-ceiling{
  left: var(--back-left);
  width: var(--back-width);
  height: var(--back-height);
  background: var(--room);
}

.wall-ceiling {
  top: 25vh;
  transform-origin: top center;
  transform: rotateX(90deg);
}

.wall-floor {
  top: 25vh;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
}

.wall-grid {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
